// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    50: hsl(276, 100%, 79%),
    100: hsl(28, 91%, 54%),
    150: hsl(276, 79%, 69%),
    200: hsl(0, 0%, 100%),
    300: hsl(276, 53%, 49%),
    400: hsl(276, 64%, 48%),
    500: hsl(276, 96%, 20%),
  ),
  secondary: (
    50: hsl(173, 80%, 68%),
    100: hsl(148, 100%, 30%),
    200: hsl(173, 80%, 63%),
    300: hsl(173, 72%, 57%),
    350: hsl(173, 75%, 47%),
    400: hsl(0, 0%, 100%),
    450: hsl(173, 90%, 30%),
    500: hsl(0, 0%, 100%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    // 700: hsl(210 8% 31%),
    700: #ffffff,
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
  dublin-primary: (
    100: rgb(255, 255, 255),
  ),
  dublin-secondary: (
    100: rgb(0, 154, 73),
  ),
  dublin-orange: (
    100: rgb(244, 128, 32),
  ),
);
