
<div>
    <h2 class="mb-24 text-3xl">Headline Sponsors</h2>
</div>
<div class="grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-3">
    <div><a target="_blank" href="https://aws.amazon.com/"><img height="170px" width="320px" src="aws-logo.svg" /></a></div>
    <div><a target="_blank" href="https://azure.microsoft.com/en-gb/"><img height="170px" width="320px" src="azure-logo.svg" /></a></div>
    <div><a target="_blank" href="https://cloud.google.com/"><img height="170px" width="320px" src="gcp-logo.svg" /></a></div>
</div>