<div>
    <h2 class="my-24 text-3xl">Silver Sponsors</h2>
</div>
<div class="grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-5">
    <div><a target="_blank" href="https://aws.amazon.com/"><img height="70px" width="220px" src="aws-logo.svg" /></a></div>
    <div><a target="_blank" href="https://azure.microsoft.com/en-gb/"><img height="70px" width="220px" src="azure-logo.svg" /></a></div>
    <div><a target="_blank" href="https://cloud.google.com/"><img height="70px" width="220px" src="gcp-logo.svg" /></a></div>
    <div><a target="_blank" href="https://aws.amazon.com/"><img height="70px" width="220px" src="aws-logo.svg" /></a></div>
    <div><a target="_blank" href="https://azure.microsoft.com/en-gb/"><img height="70px" width="220px" src="azure-logo.svg" /></a></div>
</div>